/* 1) 모든 요소의 기본 padding, margin 제거 */
/* box-sizing 통일 */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

/* 2) 높이 기준 통일 (레이아웃 계산 편해짐) */
html,
body {
  height: 100%;
}
  
/* 3) 폰트 자간,렌더링 개선 */
body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 4) 미디어 기본 동작 안정화 */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 5) 폼 요소 기본 스타일 통일 */
input,
button,
textarea,
select {
  border: 0;
  font: inherit;
  background-color: transparent;
}

/* 6) 링크 스타일 */
a {
  color: inherit;
  text-decoration: none; 
}

Chrome / Safari autofill fix
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: inherit;
  box-shadow: 0 0 0px 1000px inherit inset;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}